<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            {% for post in posts: %}
                {% if post.id == post_id:%}
                    <div class="card"> <h1>{{post['title']}}</h1>
                    <h2>{{post['subtitle']}}</h2>
                    <p>{{post['body']}}</p>
                     </div>
                {% endif %}
            {% endfor %}
    </div>
</div>
</body>

<footer>
    <p>Made with ♥️ in Shanghai.</p>
</footer>
</html>